<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="erp_qualidadeEntities" connectionString="metadata=res://*/QualidadeModel.csdl|res://*/QualidadeModel.ssdl|res://*/QualidadeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LS01;Initial Catalog=erp_qualidade;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>